@model SPM.Models.HomeInfo
@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<div>
    <p>
        This Website allows software companies to manage their software licenses and plugins. They can also manage editor accounts and plugins, whether for own softwares or other's.
    </p>
    <p>
        Users are allowed to add a software's license key to connect the software to their account and subscribe to plugins.
        With a webservice, the subscribed plugins for a certain software and user account can be obtained, so that plugins can be inserted into the softwares plugin interface.
    </p>
    <p>
        This project was initiated due to a university course called ".Net Webkonzepte" held by Thomas Beckert and was created by Julian Heinen.
    </p>
</div>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(m => m.CompanyCount)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.CompanyCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.UserCount)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.UserCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.SoftwareCount)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.SoftwareCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.PluginCount)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.PluginCount)
        </dd>
    </dl>
</div>
