@model WebApplication2.Models.LicenseKey
@using WebApplication2.Services
@using WebApplication2.Models.UserEntities
@inject IUserEntityLoader UserEntityServices
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>License Key</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Software)
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.Software)*@
            @(Model.Software.Name)
            
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @((Model.User as NormalUser).GetFullName())
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Key)
        </dt>
        <dd  style="overflow-wrap:break-word">
            @Html.DisplayFor(model => model.Key)
        </dd>
    </dl>
</div>
<div>
@if ((await UserEntityServices.GetCurrentUserEntityType(User)) >= UserEntityType.Editor)
{
    <a asp-action="Delete" asp-route-id="@Model.Id"><i class="fa fa-trash-o"></i> Delete</a>
}
    <a asp-controller="Softwares" asp-action="Details" asp-route-id="@Model.Software.Id">Back to Software</a>
</div>
