@model IEnumerable<WebApplication2.Models.LicenseKey>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<a asp-action="AddUserKey"><i class="fa fa-plus-circle"></i> Add Key</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Software)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Key)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    <a asp-controller="Softwares" asp-action="Details" asp-route-id="@item.Software.Id">@item.Software.Name</a>
                </td>
                <td>
                    @(item.GetShortKey(36))
                </td>
                <td>
                    <a asp-action="Unsubscribe" asp-route-id="@item.Id"><i class="fa fa-trash-o"></i>Unsubscirbe</a>
                </td>
            </tr>
}
    </tbody>
</table>