@model IEnumerable<WebApplication2.Models.LicenseKey>
@using WebApplication2.Services
@using WebApplication2.Models.UserEntities
@inject IUserEntityLoader UserEntityServices


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Key)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@if (Model != null)
{
    @foreach (var item in Model) {
            <tr>
                <td>
                    <a asp-controller="LicenseKeys" asp-action="Details" asp-route-id="@item.Id">@(item.GetShortKey(36))</a>
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.User.Id)*@
                    @(item.GetFullUsername())
                </td>
                <td>
@if ((await UserEntityServices.GetCurrentUserEntityType(User)) >= UserEntityType.Editor)
{
                    <a asp-controller="LicenseKeys" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil"></i>Edit</a>
                    <text>| </text><a asp-controller="LicenseKeys" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash-o"></i>Delete</a>
}
                </td>
            </tr>
    }
}
    </tbody>
</table>
