@model IEnumerable<WebApplication2.Models.LicenseKey>
@using WebApplication2.Services
@using WebApplication2.Models.UserEntities
@inject IUserEntityLoader UserEntityServices



<tbody>
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <tr onclick="location.href = '@(Url.Action("Details", "LicenseKeys", new { id = @item.Id}))'">
                <td>
                    <a asp-controller="LicenseKeys" asp-action="Details" asp-route-id="@item.Id">@(item.GetShortKey(36))</a>
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.User.Id)*@
                    @(item.GetFullUsername())
                </td>
                <td>
                    @if ((await UserEntityServices.GetCurrentUserEntityType(User)) >= UserEntityType.Editor)
                    {
                        <a asp-controller="LicenseKeys" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-warning fa fa-minus">&ensp;Delete</a>
                    }
                </td>
            </tr>
        }
    }
</tbody>
