@model WebApplication2.Models.Software

@using Microsoft.AspNetCore.Identity
@using WebApplication2.Models
@using WebApplication2.Models.UserEntities
@using WebApplication2.Services
@inject IUserEntityLoader UserEntityServices



@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Software</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<hr />
<!-- Actions -->
<div>
    @if (Model.CanEdit((await UserEntityServices.GetCurrentUserEntity(User))))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info fa fa-pencil">&ensp;Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-warning fa fa-minus">&ensp;Delete</a>
    }
    <a href="javascript:history.go(-1)" class="btn btn-default fa fa-arrow-left">&ensp;Back</a>
</div>
<hr />
<!-- Plugins -->
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1">Available Plugins</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body" style="padding:0px;">
                <table class="table table-responsive table-striped table-hover" style="margin:0px">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Plugins.First().Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Plugins.First().Company)
                            </th>
                            <th>
                                <a asp-action="CreatePlugin" asp-route-id="@Model.Id" class="btn btn-success fa fa-plus">&ensp;New</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @await Html.PartialAsync("_SoftwarePlugins", Model.Plugins)
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- License Keys -->
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse2">License Keys</a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body" style="padding:0px">
                <table class="table table-responsive table-striped table-hover" style="margin:0px">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.LicenseKeys.First().Key)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LicenseKeys.First().User)
                            </th>
                            <th>
                                <a asp-action="CreateLicenseKey" asp-route-id="@Model.Id" class="btn btn-success fa fa-plus">&ensp;New</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @await Html.PartialAsync("_LicenseKeys", Model.LicenseKeys)
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


