@model IEnumerable<SPM.Models.Software>

@using SPM.Services
@using SPM.Models.UserEntities
@inject IUserEntityLoader UserEntityServices

<table class="table table-striped table-responsive table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr onclick="location.href = '@(Url.Action("Details", "Softwares", new { id = @item.Id}))'">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
}
    </tbody>
</table>
